{% sw_extends '@Storefront/storefront/page/account/profile/index.html.twig' %}

{% block page_account_profile_personal_form %}
    <form id="profilePersonalForm"
          method="post"
          data-form-csrf-handler="true"
          action="{{ path('frontend.account.profile.save') }}"
          data-form-validation="true">

        {% block page_account_profile_personal_form_csrf %}
            {{ parent() }}
        {% endblock %}

        {% block page_account_profile_personal_fields %}
            {{ parent() }}
        {% endblock %}

        <div class="form-row account-profile-personal-action-container">
            {% block page_account_profile_personal_required %}
                <p class="col-12 col-md-8 account-profile-required-info required-fields">
                    {{ "general.requiredFields"|trans|sw_sanitize }}
                </p>
            {% endblock %}

            {% block page_account_profile_personal_action_buttons %}
                <div class="col-12 col-md-4 card-actions pl-md-0 d-flex justify-content-end">
                    {% block page_account_profile_personal_action_button_send %}
                        <button type="submit"
                                class="profile-form-submit btn btn-outline-primary btn-sm btn-block"
                                title="{{ "account.profileSaveChanges"|trans|striptags }}">
                            {{ "account.profileSaveChanges"|trans|sw_sanitize }}
                        </button>
                    {% endblock %}
                </div>
            {% endblock %}
        </div>
    </form>
{% endblock %}

{% block page_account_profile_credentials_current_mail %}
    <div class="col-12 col-md-6 account-profile-credentials-current-mail">
        {% block page_account_profile_credentials_current_mail_label %}
            <span class="account-profile-mail-label">{{ "account.profileCurrentMail"|trans|sw_sanitize }}</span>
            <span class="account-profile-mail">{{ context.customer.email }}</span>
        {% endblock %}
    </div>
{% endblock %}

{% block page_account_profile_credentials_change_mail %}
    <div class="col-auto col-md text-md-right">
        <a class="account-profile-change{% if not emailFormViolation %} collapsed{% endif %}"
           data-toggle="collapse"
           href="#profile-email-form"
           role="button"
           aria-expanded="{% if emailFormViolation %}true{% else %}false{% endif %}"
           aria-controls="profile-email-form">
            {{ "account.profileChangeEmail"|trans|sw_sanitize }}
        </a>
    </div>
{% endblock %}

{% block page_account_profile_credentials_change_password %}
    <div class="col-auto col-md text-md-right">
        <a class="account-profile-change{% if not passwordFormViolation %} collapsed{% endif %}"
           data-toggle="collapse"
           href="#profile-password-form"
           role="button"
           aria-expanded="{% if passwordFormViolation %}true{% else %}false{% endif %}"
           aria-controls="profile-password-form">
            {{ "account.profileChangePassword"|trans|sw_sanitize }}
        </a>
    </div>
{% endblock %}
