{# SwagShowRoomTheme Copyright (C) 2025 shopware AG #}

{% sw_extends '@Storefront/storefront/component/buy-widget/configurator.html.twig' %}

{% block buy_widget_configurator_groups %}
    <div data-showroom-collapse="true" class="row g-md-4 g-lg-0 mx-lg-0 product-detail-configurator-container">
        {% for group in configuratorSettings %}
            {% set activeOption = group.options|filter(option => option.id in product.optionIds)|first %}
            {% set withoutActiveOptions = group.options|filter(option => option.id not in product.optionIds) %}

            {% if activeOption.media %}
                {% set media = activeOption.media %}
            {% else %}
                {% set media = false %}
            {% endif %}

            {% set isCombinableCls = 'is-combinable' %}
            {% if not activeOption.combinable %}
                {% set isCombinableCls = false %}
            {% endif %}

            {% block buy_widget_configurator_group %}
                <div class="col-12 col-md-6 col-lg-12 px-lg-0 product-detail-configurator-group">
                    <div class="row">
                        <div class="col-4 col-md-12 col-lg-4">
                            {% block buy_widget_configurator_group_title %}
                                {{ parent() }}
                            {% endblock %}
                        </div>
                        {% block buy_widget_configurator_options %}
                            <div class="col-8 col-md-12 col-lg-8">
                                <div
                                    class="product-detail-configurator-options product-detail-configurator-collapse-wrapper js-collapse-column">
                                    <div class="product-detail-configurator-collapse"
                                         style="z-index: {{ loop.length - loop.index + 1 }}">
                                        <div
                                            class="js-collapse-column-trigger product-detail-configurator-active-option global-collapse-headline">
                                            <div class="product-detail-configurator-option-label{% if isCombinableCls %} {{ isCombinableCls }}{% endif %}">
                                                {% if group.displayType == 'color' and activeOption.colorHexCode %}
                                                    <span class="product-detail-configurator-color"
                                                          style="background-color: {{ activeOption.colorHexCode }}"></span>
                                                {% endif %}

                                                {% if group.displayType == 'media' and media %}
                                                    {% block page_product_detail_configurator_option_radio_label_media %}
                                                        {% sw_thumbnails 'configurator-option-img-thumbnails' with {
                                                            media: media,
                                                            sizes: {
                                                                'default': '32px'
                                                            },
                                                            attributes: {
                                                                'class': 'product-detail-configurator-option-image',
                                                                'alt': activeOption.translated.name,
                                                                'title': activeOption.translated.name
                                                            }
                                                        } %}
                                                    {% endblock %}
                                                {% endif %}

                                                {{ activeOption.translated.name }}
                                            </div>
                                            <div class="global-collapse-column-toggle">
                                                <span class="global-collapse-plus-icon">
                                                    {% sw_icon 'plus' style { 'size': 'md', 'color':'primary' } %}
                                                </span>
                                                <span class="global-collapse-minus-icon">
                                                    {% sw_icon 'minus' style { 'size': 'md', 'color':'primary' } %}
                                                </span>
                                            </div>
                                        </div>
                                        <div class="collapse js-column-content">
                                            {{ parent() }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endblock %}
                    </div>
                </div>
            {% endblock %}

        {% endfor %}
    </div>
{% endblock %}

{% block buy_widget_configurator_option_radio_label %}
    <label class="product-detail-configurator-option-label{% if isCombinableCls %} {{ isCombinableCls }}{% endif %} is-display-{{ displayType }}"
           title="{{ option.translated.name }}"
           for="{{ optionIdentifier }}">

        {% if displayType == 'color' and option.colorHexCode %}
            <span class="product-detail-configurator-color" style="background-color: {{ option.colorHexCode }}"></span>
        {% endif %}

        {% if displayType == 'media' and media %}
            {{ block('buy_widget_configurator_option_radio_label_media') }}
            {{ option.translated.name }}
        {% elseif displayType == 'text' or
            displayType == 'select' or
            (displayType == 'media' and not media) or
            displayType == 'color' %}
            {{ block('buy_widget_configurator_option_radio_label_text') }}
        {% endif %}
    </label>
{% endblock %}
