{% sw_extends '@Storefront/storefront/page/product-detail/buy-widget.html.twig' %}

{# Override this block in order to move block page_product_detail_ordernumber_container to top #}
{% block page_product_detail_buy_inner %}
    <div class="product-detail-buy js-magnifier-zoom-image-container">
        {% block page_product_detail_rich_snippets %}
            {{ parent() }}
        {% endblock %}

        {% block page_product_detail_ordernumber_container %}
            {{ parent() }}
        {% endblock %}

        {% block page_product_detail_not_available %}
            {{ parent() }}
        {% endblock %}

        {% block page_product_detail_buy_container %}
            {{ parent() }}
        {% endblock %}

        {# this block to fix add to wishlist is not displayed on quickview #}
        {% if config('core.cart.wishlistEnabled') and activeRoute != "frontend.detail.page" %}
            {% block page_product_detail_wishlist %}
                {{ parent() }}
            {% endblock %}
        {% endif %}
    </div>
{% endblock %}

{# page_product_detail_price and page_product_detail_tax were moved into buy-widget-form #}
{% block page_product_detail_price %}{% endblock %}
{% block page_product_detail_tax %}{% endblock %}

{% block page_product_detail_configurator_include %}
    <div class="product-detail-wrapper">
        {{ parent() }}
    </div>
{% endblock %}
