{% sw_extends '@Storefront/storefront/page/product-detail/buy-widget-form.html.twig' %}

{% block page_product_detail_buy_container %}
    {% if buyable %}
        {% if customizedProductsTemplate and customizedProductsTemplate.active and customizedProductsTemplate.options|length %}
            {{ parent() }}
        {% else %}
            <div class="form-row buy-widget-container">
                {% block page_product_detail_buy_quantity_container %}
                    <div class="row">
                        <div class="col-4 col-md-12 col-lg-4">
                            <div class="product-detail-configurator-group-title">
                                {{ "showroom.detail.quantity"|trans|sw_sanitize }}
                            </div>
                        </div>
                        <div class="col-8 col-md-12 col-lg-8">
                            {% block page_product_detail_buy_quantity %}
                                {{ parent() }}
                            {% endblock %}
                        </div>
                    </div>
                {% endblock %}

                <div class="row no-gutters product-detail-button-container">
                    {% block page_product_detail_price_container %}
                        <div class="col-12 {% if page.product.calculatedPrices|length > 1 %}col-md-12{% else %}col-md-4{% endif %}">
                            <div class="product-detail-price-container">
                                {% sw_include '@Storefront/storefront/page/product-detail/buy-widget-price.html.twig' %}
                                {% sw_include '@Storefront/storefront/page/product-detail/tax.html.twig' %}
                            </div>
                        </div>
                    {% endblock %}

                    <div class="col-12 col-md-7 offset-md-1">
                        {% block page_product_detail_buy_redirect_input %}
                            {{ parent() }}
                        {% endblock %}

                        {% block page_product_detail_buy_product_buy_info %}
                            {{ parent() }}
                        {% endblock %}

                        {% block page_product_detail_product_buy_meta %}
                            {{ parent() }}
                        {% endblock %}

                        {% block page_product_detail_buy_button_container %}
                            {% block page_product_detail_buy_button %}
                                {{ parent() }}
                            {% endblock %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}

{% block swag_customized_products_step_by_step_finish_page %}
    {% if isStepByStep %}
        <div class="swag-customized-products__item">
            <div class="swag-customized-products__finish">

                {% block swag_customized_products_step_by_step_finish_title %}
                    {{ parent() }}
                {% endblock %}

                {% block swag_customized_products_step_by_step_finish_description %}
                    <div class="mb-3">
                        {{ "showroom.detail.finishConfigCustomizedProduct"|trans|sw_sanitize }}
                    </div>
                {% endblock %}

                {% block swag_customized_products_step_by_step_finish_configure_product %}
                    {{ parent() }}
                {% endblock %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block swag_customized_products_introdcution %}
    <div class="swag-customized-products__item">
        <div class="swag-customized-products__introduction">
            <input type="hidden"
                    name="{{ constant('Swag\\CustomizedProducts\\Storefront\\Controller\\CustomizedProductsCartController::CUSTOMIZED_PRODUCTS_TEMPLATE_REQUEST_PARAMETER') }}[id]"
                    value="{{ customizedProductsTemplate.id }}">

            {% block swag_customized_products_description %}
                {% block swag_customized_products_description_image %}
                    {{ parent() }}
                {% endblock %}

                {% block swag_customized_products_title %}
                    {{ parent() }}
                {% endblock %}

                {% block swag_customized_products_description_text %}
                    {{ parent() }}
                {% endblock %}
            {% endblock %}

            {% block swag_customized_products_step_by_step_start_wizard %}
                {{ parent() }}
            {% endblock %}
        </div>
    </div>
{% endblock %}
