{# SwagShowRoomTheme Copyright (C) 2025 shopware AG #}

{% sw_extends '@Storefront/storefront/element/cms-element-form.html.twig' %}

{% block element_form %}
    {%  set config = element.fieldConfig.elements %}

    <div class="cms-element-{{ element.type }}">
        {% set formViolations = app.request.get('errors') %}
        {% if element.config.type.value is same as('contact') %}
            <div class="row">
                {% if not app.request.xmlHttpRequest %}
                    <div class="col-12 col-lg-6 mb-5 mb-lg-0">
                        {% block element_form_contact_form_image %}
                            {% if theme_config('sw-contact-form') %}
                                <picture>
                                    <img src="{{ theme_config('sw-contact-form')|sw_encode_url }}"
                                         alt="{{ "contact.headline"|trans|striptags }}"
                                         class="sw-cms-form-cover-image h-100 w-100"/>
                                </picture>
                            {% endif %}
                        {% endblock %}
                    </div>
                {% endif %}

                <div class="col d-flex flex-column justify-content-center w-100 {% if not app.request.xmlHttpRequest %}sw-cms-form-content{% endif %}">
                    {% block element_form_contact_form_title %}
                        {{ parent() }}
                    {% endblock %}
                    {% block element_form_contact_form_form %}
                        {{ parent() }}
                    {% endblock %}
                </div>
            </div>
        {% elseif element.config.type.value is same as('newsletter') %}
            <div class="row">
                {% if not app.request.xmlHttpRequest %}
                    <div class="col-12 col-lg-6 mb-5 mb-lg-0">
                        {% block element_form_newsletter_form_image %}
                            {% if theme_config('sw-newsletter-form') %}
                                <picture>
                                    <img src="{{ theme_config('sw-newsletter-form')|sw_encode_url }}"
                                         alt="{{ "newsletter.headline"|trans|striptags }}"
                                         class="sw-cms-form-cover-image h-100 w-100"/>
                                </picture>
                            {% endif %}
                        {% endblock %}
                    </div>
                {% endif %}

                <div class="col d-flex flex-column justify-content-center w-100 {% if not app.request.xmlHttpRequest %}sw-cms-form-content{% endif %}">
                    {% block element_form_newsletter_form_title %}
                        {{ parent() }}
                    {% endblock %}
                    {% block element_form_newsletter_form_form %}
                        {{ parent() }}
                    {% endblock %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
