{% sw_extends '@Storefront/storefront/layout/footer/footer.html.twig' %}

{% block layout_footer_navigation %}
    <div id="footerColumns" class="row footer-columns" data-collapse-footer="true">
        {% block layout_footer_navigation_hotline %}
            <div class="col-12 col-md-3 footer-column js-footer-column">
                {% block layout_footer_navigation_hotline_headline %}
                    {{ parent() }}
                {% endblock %}

                {% block layout_footer_navigation_hotline_content %}
                    {{ parent() }}
                {% endblock %}
            </div>
        {% endblock %}

        {% block layout_footer_navigation_columns %}
            <div class="col-12 col-md">
                <div class="row">
                    {% for root in page.footer.navigation.tree %}
                        {% block layout_footer_navigation_column %}
                            <div class="col-12 col-md-auto col-lg-6 footer-column js-footer-column">
                                {% block layout_footer_navigation_information_headline %}
                                    {{ parent() }}
                                {% endblock %}

                                {% block layout_footer_navigation_information_content %}
                                    {{ parent() }}
                                {% endblock %}
                            </div>
                        {% endblock %}
                    {% endfor %}
                </div>
            </div>
        {% endblock %}

        {% block layout_footer_navigation_newsletter %}
            <div class="col-12 col-md-4 col-lg-3 footer-column footer-newsletter js-footer-column">
                <div class="footer-newsletter-container">
                    {% block layout_footer_navigation_newsletter_headline %}
                        <div
                            class="footer-column-headline footer-headline js-footer-column-headline js-collapse-footer-column-trigger"
                            id="collapseFooterNewsletterTitle"
                            data-bs-target="#collapseFooterNewsletter"
                            aria-expanded="true"
                            aria-controls="collapseFooterNewsletter">
                                <span class="d-md-none d-lg-block">
                                    {{ 'footer.newsletterHeadline'|trans|sw_sanitize }}
                                </span>
                            {% block layout_footer_navigation_newsletter_icons %}
                                <div class="footer-column-toggle">
                                    <span class="footer-plus-icon">
                                        {% sw_icon 'plus' %}
                                    </span>
                                    <span class="footer-minus-icon">
                                        {% sw_icon 'minus' %}
                                    </span>
                                </div>
                            {% endblock %}
                        </div>
                    {% endblock %}

                    {% block layout_footer_navigation_newsletter_content %}
                        {% sw_include '@Storefront/storefront/layout/footer/footer-newsletter-widget.html.twig' %}
                    {% endblock %}
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}

{% block layout_footer_bottom %}
    {% block layout_footer_service_menu %}
        {% block layout_footer_service_menu_content %}
            {{ parent() }}
        {% endblock %}
    {% endblock %}

    <div class="footer-bottom d-none d-md-block">
        <div class="container">
            <div class="row">
                {% block layout_footer_logo %}
                    <div class="col-4 footer-logo">
                        <a class="footer-logo-main-link"
                           href="{{ path('frontend.home.page') }}"
                           title="{{ "header.logoLink"|trans|striptags }}">
                            {% block layout_header_footer_image %}
                                {% if theme_config('sw-footer-logo') %}
                                    <img src="{{ theme_config('sw-footer-logo') |sw_encode_url }}"
                                         alt="{{ "header.logoLink"|trans|striptags }}"
                                         class="img-fluid header-logo-main-img"/>
                                {% endif %}
                            {% endblock %}
                        </a>
                    </div>
                {% endblock %}

                {% block layout_footer_vat %}
                    <div class="col-4 footer-vat">
                        {% if context.taxState == "gross" %}
                            <span>
                                {{ "footer.includeVat"|trans({
                                    '%url%': path('frontend.cms.page',{ id: config('core.basicInformation.shippingPaymentInfoPage') })
                                })|raw }}
                            </span>
                        {% else %}
                            <span>
                                {{ "footer.excludeVat"|trans({
                                    '%url%': path('frontend.cms.page',{ id: config('core.basicInformation.shippingPaymentInfoPage') })
                                })|raw }}
                            </span>
                        {% endif %}
                    </div>
                {% endblock %}

                {% block layout_footer_copyright %}
                    <div class="col-4 footer-copyright">
                        {% sw_icon 'shopware' style { 'color': 'primary' } %}
                        {{ "footer.copyrightInfo"|trans|sw_sanitize }}
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>

    <div class="footer-bottom footer-bottom-mobile d-md-none">
        <div class="container row g-0">
            {% block layout_footer_mobile_logo %}
                <div class="col footer-logo d-flex align-items-center">
                    <a class="footer-logo-main-link"
                       href="{{ path('frontend.home.page') }}"
                       title="{{ "header.logoLink"|trans|striptags }}">
                        {% block layout_footer_mobile__image %}
                            {% if theme_config('sw-footer-logo-mobile') %}
                                <img src="{{ theme_config('sw-footer-logo-mobile')|sw_encode_url }}"
                                     alt="{{ "header.logoLink"|trans|striptags }}"
                                     class="img-fluid header-logo-main-img"/>
                            {% endif %}
                        {% endblock %}
                    </a>
                </div>
            {% endblock %}

            <div class="col-8">
                {% block layout_footer_mobile_vat %}
                    <div class="footer-vat">
                        {% if context.taxState == "gross" %}
                            <span>
                            {{ "footer.includeVat"|trans({
                                '%url%': path('frontend.cms.page',{ id: config('core.basicInformation.shippingPaymentInfoPage') })
                            })|raw }}
                        </span>
                        {% else %}
                            <span>
                            {{ "footer.excludeVat"|trans({
                                '%url%': path('frontend.cms.page',{ id: config('core.basicInformation.shippingPaymentInfoPage') })
                            })|raw }}
                        </span>
                        {% endif %}
                    </div>
                {% endblock %}

                {% block layout_footer_mobile_copyright %}
                    <div class="footer-copyright">
                        {% sw_icon 'shopware' style { 'color': 'primary' } %}
                        {{ "footer.copyrightInfo"|trans|sw_sanitize }}
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>

    {% set fundingEligibilityData = page.footer.extensions[constant('Swag\\PayPal\\Storefront\\Data\\FundingSubscriber::FUNDING_ELIGIBILITY_EXTENSION')] %}

    {% if fundingEligibilityData %}
        <div data-swag-paypal-funding-eligibility="true"
             data-swag-paypal-funding-eligibility-options="{{ fundingEligibilityData|json_encode }}">
        </div>
    {% endif %}
{% endblock %}
