{% sw_extends '@Storefront/storefront/page/checkout/confirm/confirm-payment.html.twig' %}

{% block page_checkout_confirm_payment_current_text %}
    <strong>{{ "checkout.confirmCurrentPaymentShipping"|trans|sw_sanitize }}</strong>
    <br>
    <span>
        {% if paymentMethodInvalid %}
            {{ "checkout.confirmSelectionNone"|trans|sw_sanitize }}
        {% else %}
            {{ context.paymentMethod.translated.name }}
        {% endif %}
    </span>
{% endblock %}

{% block page_checkout_confirm_payment_modal_toggle %}
    <div class="card-actions">
        <a type="button"
           data-toggle="modal"
           data-backdrop="static"
            {% if page.paymentChangeable is not null and page.paymentChangeable == false %}
                disabled="disabled"
            {% endif %}
           data-target="#confirmPaymentModal"
           class="confirm-payment-link"
        >

            {% if paymentMethodInvalid %}
                {{ "checkout.confirmChoosePayment"|trans|sw_sanitize }}
            {% else %}
                {{ "showroom.checkout.confirmChangePayment"|trans|sw_sanitize }}
            {% endif %}
        </a>
    </div>
{% endblock %}

{% block page_checkout_confirm_payment_modal %}
    <div class="modal fade confirm-payment-modal"
         id="confirmPaymentModal"
         tabindex="-1"
         role="dialog">
        <div class="modal-dialog modal-lg"
             role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title h4">
                        {{ "checkout.confirmChangePayment"|trans|sw_sanitize }}
                    </div>
                    <button type="button"
                            class="modal-close close"
                            data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">
                            {% sw_icon 'x' style { 'size': 'lg' } %}
                        </span>
                    </button>
                </div>

                {% block page_checkout_confirm_payment_modal_body %}
                    {{ parent() }}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
