{% sw_extends '@Storefront/storefront/page/checkout/confirm/confirm-shipping.html.twig' %}

{% block page_checkout_confirm_shipping_current_text %}
    <strong>{{ "checkout.confirmCurrentPaymentShipping"|trans|sw_sanitize }}</strong>
    <br>
    <span>
        {% if shippingMethodInvalid %}
            {{ "checkout.confirmSelectionNone"|trans|sw_sanitize }}
        {% else %}
            {{ context.shippingMethod.translated.name }}
        {% endif %}
    </span>
{% endblock %}

{% block page_checkout_confirm_shipping_modal_toggle %}
 <a type="button"
    data-toggle="modal"
    data-backdrop="static"
    data-target="#confirmShippingModal"
    class="confirm-shipping-link"
 >
     {% if shippingMethodInvalid %}
         {{ "checkout.confirmChooseShipping"|trans|sw_sanitize }}
     {% else %}
         {{ "showroom.checkout.confirmChangeShipping"|trans|sw_sanitize }}
     {% endif %}
 </a>
{% endblock %}

{% block page_checkout_confirm_shipping_modal %}
    <div class="modal fade confirm-shipping-modal"
         id="confirmShippingModal"
         tabindex="-1"
         role="dialog">
        <div class="modal-dialog modal-lg modal-dialog-scrollable"
             role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title h5">
                        {{ "checkout.confirmChangeShipping"|trans|sw_sanitize }}
                    </div>
                    <button type="button"
                            class="modal-close close"
                            data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">
                            {% sw_icon 'x' style { 'size': 'lg' } %}
                        </span>
                    </button>
                </div>
                <div class="modal-body">
                    {% block page_checkout_confirm_shipping_form %}
                        {{ parent() }}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
