<div id="collapseFooterNewsletter"
     class="footer-column-content collapse js-footer-column-content footer-column-newsletter"
     aria-labelledby="collapseFooterNewsletterTitle">
    <div class="footer-column-content-inner">
        {% block layout_footer_navigation_newsletter_form %}
            <div class="row footer-newsletter-form">
                <div class="col-6 col-lg-12 footer-newsletter-header">
                    {% block layout_footer_navigation_newsletter_header %}
                        <span class="footer-newsletter-header-headline d-none d-md-block d-lg-none">{{ 'footer.newsletterHeadline'|trans|sw_sanitize }}</span>
                        <span class="footer-newsletter-info">
                            {{ 'footer.newsletterInfo'|trans({
                                '%shopname%': shopware.config.core.basicInformation.shopName
                            })|sw_sanitize }}
                        </span>
                    {% endblock %}
                </div>

                <div class="col-6 col-lg-12 cms-block footer-newsletter-content">
                    <div class="cms-element-form">
                        {% block layout_footer_navigation_newsletter_form_element %}
                            <form action="{{ path('frontend.form.newsletter.register.handle') }}"
                                  method="post"
                                  data-form-csrf-handler="true"
                                  data-form-validation="true">
                                {% block layout_footer_navigation_newsletter_form_content %}
                                    <div class="form-content">
                                        {% block layout_footer_navigation_newsletter_form_email %}
                                            <label class="form-label footer-newsletter-your-email">{{ 'footer.newsletterYourEmail'|trans|sw_sanitize }}</label>
                                            <div class="input-group">
                                                <input name="email"
                                                       type="email"
                                                       class="form-control"
                                                       placeholder="{{ 'newsletter.placeholderMail'|trans }}"
                                                       aria-label="{{ 'newsletter.placeholderMail'|trans }}"
                                                       aria-describedby="footerNewsletterBtnAddon">
                                                <div class="input-group-append">
                                                    <button class="btn btn-link"
                                                            type="button"
                                                            title="{{ 'newsletter.formSubmit'|trans|striptags }}"
                                                            id="footerNewsletterBtnAddon">
                                                        {% sw_icon 'arrow-simple-long-right' style { 'size': 'lg', 'color': 'primary' } %}
                                                    </button>
                                                </div>
                                            </div>
                                        {% endblock %}
                                    </div>
                                {% endblock %}

                                {% block layout_footer_navigation_newsletter_form_hidden_fields %}
                                    <div class="form-hidden-fields">
                                        <input type="hidden"
                                               value="{{ constant('Shopware\\Storefront\\Controller\\FormController::SUBSCRIBE') }}"
                                               name="option">
                                        {{ sw_csrf('frontend.form.newsletter.register.handle') }}
                                        <input type="submit" class="submit--hidden d-none" />
                                    </div>
                                {% endblock %}
                            </form>
                        {% endblock %}
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>
</div>
