{% sw_extends '@Storefront/storefront/page/checkout/checkout-aside-item.html.twig' %}

{% block page_checkout_aside_item_image %}
    <div class="col-3 checkout-aside-item-image">
        {% block page_checkout_aside_item_image_inner %}
            {{ parent() }}
        {% endblock %}
    </div>
{% endblock %}

{% block page_checkout_aside_item_data %}
    <div class="col-6 checkout-aside-item-data">
        {% block page_checkout_aside_item_title %}
            {{ parent() }}
        {% endblock %}

        {% block page_checkout_aside_item_variant_characteristics %}
            {{ parent() }}
        {% endblock %}

        {% block page_checkout_aside_item_info_features %}
            {{ parent() }}
        {% endblock %}

        {% block page_checkout_aside_item_quantity %}
            {{ parent() }}
        {% endblock %}
    </div>
    <div class="col-3">
        {% block page_checkout_aside_item_price %}
            {{ parent() }}
        {% endblock %}
    </div>
{% endblock %}
