{% sw_extends '@Storefront/storefront/page/product-detail/configurator.html.twig' %}

{% block page_product_detail_configurator_groups %}
    <div data-showroom-collapse="true" class="product-detail-configurator-container">
        {% for group in page.configuratorSettings %}

            {% set activeOption = group.options|filter(option => option.id in page.product.optionIds)|first %}
            {% set withoutActiveOptions = group.options|filter(option => option.id not in page.product.optionIds) %}

            {% block page_product_detail_configurator_group %}
                <div class="product-detail-configurator-group js-collapse-column">
                    {% block page_product_detail_configurator_group_title %}
                        {{ parent() }}
                    {% endblock %}

                    {% block page_product_detail_configurator_options %}
                        <div class="product-detail-configurator-collapse">
                            <div
                                class="js-collapse-column-trigger global-collapse-headline product-detail-configurator-active-option">
                                {{ activeOption.translated.name }}
                                <div class="global-collapse-column-toggle">
                                    <span class="global-collapse-plus-icon">
                                        {% sw_icon 'plus' style { 'size': 'md', 'color':'primary' } %}
                                    </span>
                                    <span class="global-collapse-minus-icon">
                                        {% sw_icon 'minus' style { 'size': 'md', 'color':'primary' } %}
                                    </span>
                                </div>
                            </div>
                            <div
                                class="product-detail-configurator-options collapse js-column-content">
                                {% for option in withoutActiveOptions %}

                                    {% set optionIdentifier = [group.id, option.id]|join('-') %}
                                    {% set isActive = false %}

                                    {% if option.id in page.product.optionIds %}
                                        {% set isActive = true %}
                                    {% endif %}

                                    {% if option.configuratorSetting.media %}
                                        {% set displayType = 'media' %}
                                        {% set media = option.configuratorSetting.media %}
                                    {% else %}
                                        {% set displayType = group.displayType %}
                                        {% if option.media %}
                                            {% set media = option.media %}
                                        {% else %}
                                            {% set media = false %}
                                        {% endif %}
                                    {% endif %}

                                    {% block page_product_detail_configurator_option %}
                                        <div class="product-detail-configurator-option">
                                            {% block page_product_detail_configurator_option_radio %}
                                                <input type="radio"
                                                       name="{{ group.id }}"
                                                       value="{{ option.id }}"
                                                       class="product-detail-configurator-option-input"
                                                       title="{{ optionIdentifier }}"
                                                       id="{{ optionIdentifier }}"
                                                       {% if isActive %}checked="checked"{% endif %}>

                                                {% block page_product_detail_configurator_option_radio_label %}
                                                    <label
                                                        {% if displayType == 'color' and option.colorHexCode %}
                                                            style="background-color: {{ option.colorHexCode }}"
                                                        {% endif %}
                                                        title="{{ option.translated.name }}"
                                                        for="{{ optionIdentifier }}">

                                                        {% if displayType == 'media' and media %}
                                                            {% block page_product_detail_configurator_option_radio_label_media %}
                                                                {% sw_thumbnails 'configurator-option-img-thumbnails' with {
                                                                    media: media,
                                                                    sizes: {
                                                                        'default': '52px'
                                                                    },
                                                                    attributes: {
                                                                        'class': 'product-detail-configurator-option-image',
                                                                        'alt': option.translated.name,
                                                                        'title': option.translated.name
                                                                    }
                                                                } %}
                                                            {% endblock %}
                                                        {% elseif displayType == 'text' or
                                                            (displayType == 'media' and not media) or
                                                            (displayType == 'color' and not option.colorHexCode) %}
                                                            {% block page_product_detail_configurator_option_radio_label_text %}
                                                                {{ option.translated.name }}
                                                            {% endblock %}
                                                        {% endif %}
                                                    </label>
                                                {% endblock %}
                                            {% endblock %}
                                        </div>
                                    {% endblock %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endblock %}
                </div>
            {% endblock %}
        {% endfor %}

        {% sw_include '@Storefront/storefront/page/product-detail/quantity.html.twig' %}
    </div>
{% endblock %}
