{% sw_extends '@Storefront/storefront/component/product/card/box-standard.html.twig' %}

{% block component_product_box_content %}
    <div class="card-body">
        {% block component_product_box_badges %}
            {{ parent() }}
        {% endblock %}

        {% block component_product_box_rich_snippets %}
            {{ parent() }}
        {% endblock %}

        {% block component_product_box_image %}
            {{ parent() }}
        {% endblock %}

        {% block component_product_box_info %}
            <div class="product-info">
                {% block component_product_box_rating %}
                    {{ parent() }}
                {% endblock %}
                {% block component_product_box_name %}
                    {{ parent() }}
                {% endblock %}

                {% block component_product_box_price %}
                    {{ parent() }}
                {% endblock %}
            </div>
        {% endblock %}
    </div>
    {% block component_product_overlay %}
        {% sw_include '@Storefront/storefront/component/product/card/box-overlay.html.twig' %}
    {% endblock %}
{% endblock %}

