{% sw_extends '@Storefront/storefront/component/product/card/price-unit.html.twig' %}

{% block component_product_box_price_unit %}{% endblock %}

{% block component_product_box_price %}
    {% set listPrice = product.priceRange or product.calculatedPrices.count > 0 ? null : product.calculatedPrice.listPrice %}

    <p class="product-price{% if listPrice.percentage > 0 %} with-list-price{% endif %}">
        {% if (product.priceRange and product.isGrouped) or product.calculatedPrices.count > 1 %}
            {{ fromPrice.unitPrice|currency }}
            -
            {{ listingPrice.to.unitPrice|currency }}{{ "general.star"|trans|sw_sanitize }}
        {% elseif product.calculatedPrices|length == 1 %}
            {{ product.calculatedPrices.first.unitPrice|currency }}{{ "general.star"|trans|sw_sanitize }}
        {% else %}
            {% if listPrice.percentage > 0 %}
                <span class="list-price">
                    {{ listPrice.price|currency }}{{ "general.star"|trans|sw_sanitize }}
                </span>
            {% endif %}

            {{ product.calculatedPrice.unitPrice|currency }}{{ "general.star"|trans|sw_sanitize }}
        {% endif %}
    </p>
{% endblock %}
