{% sw_extends '@Storefront/storefront/page/account/order-history/order-item.html.twig' %}

{% block page_account_order_item_heading %}
    <h3 class="order-table-header-heading">
        {{ "account.orderHeadline"|trans|sw_sanitize }} {{ order.orderDateTime|format_date('short', locale=app.request.locale) }}
    </h3>
    <span class="badge badge-primary order-status-badge">
        {% if order.transactions.last.stateMachineState.technicalName == 'failed' or order.transactions.last.stateMachineState.technicalName == 'reminded' %}
            {{ "account.orderStatusActionRequired"|trans|sw_sanitize }}
        {% else %}
            {{ order.stateMachineState.translated.name }}
        {% endif %}
    </span>
{% endblock %}

{% block page_account_order_item_status_col %}{% endblock %}

{% block page_account_order_item_order_number_col %}
    {{ parent() }}

    <div class="col-12 d-sm-none">
        <strong class="order-table-header-label">{{ "showroom.account.orderItemColumnDate"|trans|sw_sanitize }}</strong>
        <span class="order-table-body-value">{{ order.orderDateTime|format_date('short', locale=app.request.locale) }}</span>
    </div>

    <div class="col-12 d-sm-none">
        <strong class="order-table-header-label">{{ "account.orderStatus"|trans|sw_sanitize }}</strong>
        <span class="order-table-body-value">
            {% if order.transactions.last.stateMachineState.technicalName == 'failed' or order.transactions.last.stateMachineState.technicalName == 'reminded' %}
                {{ "account.orderStatusActionRequired"|trans|sw_sanitize }}
            {% else %}
                {{ order.stateMachineState.translated.name }}
            {% endif %}
        </span>
    </div>
{% endblock %}

{% block page_account_order_item_order_table_body_cell_toggle_order_details_button %}
    <button class="btn btn-outline-secondary btn-sm order-hide-btn collapsed"
            type="submit"
            data-toggle="collapse"
            data-target="#order{{ order.orderNumber }}"
            aria-expanded="false"
            aria-controls="collapseExample">

        {% block page_account_order_item_order_table_body_cell_toggle_order_details_button_text %}
            {{ parent() }}
        {% endblock %}
    </button>
{% endblock %}
