{% sw_extends '@Storefront/storefront/page/account/sidebar.html.twig' %}

{% block page_account_sidebar_header %}
    {% if not headerWidget %}
        <div class="card-header account-aside-header">
            {{ "account.greetings"|trans|sw_sanitize }}
            {{ context.customer.title }}
            {{ context.customer.firstName }}
        </div>
    {% endif %}
{% endblock %}

{% block page_account_sidebar_footer %}
    {% if context.customer %}
        {% if not context.customer.guest %}
            <div class="card-footer account-aside-footer">
                {% block page_account_sidebar_logout %}
                    <a href="{{ path('frontend.account.logout.page') }}"
                       class="btn btn-sm btn-outline-secondary">
                        {{ "account.logout"|trans|sw_sanitize }}
                    </a>
                {% endblock %}
            </div>
        {% else %}
            <div class="card-footer account-aside-footer account-guest-abort">
                {% block page_account_sidebar_guest_abort %}
                    <a href="{{ path('frontend.account.logout.page') }}"
                       class="btn btn-sm btn-outline-secondary">
                        {{ "account.guestAbort"|trans|sw_sanitize }}
                    </a>
                {% endblock %}
            </div>
        {% endif %}
    {% else %}
        <div class="card-footer account-aside-footer account-menu-register">
            <a href="{{ path('frontend.account.login.page') }}"
               title="{{ "account.orRegisterLink"|trans|striptags }}"
               class="btn btn-sm btn-outline-secondary">
                {{ "account.orRegister"|trans|sw_sanitize }} {{ "showroom.account.orRegisterLink"|trans|sw_sanitize }}
            </a>
        </div>
    {% endif %}
{% endblock %}
