{% sw_extends '@Storefront/storefront/page/checkout/address/index.html.twig' %}

{% block page_checkout_address %}
    {% block page_checkout_address_header %}
        {{ parent() }}
    {% endblock %}

    {% block component_account_login_form_mail %}
        <div class="form-group col-md-4">
            {% block component_account_login_form_mail_label %}{% endblock %}

            {% block component_account_login_form_mail_input %}{% endblock %}
        </div>
    {% endblock %}

    {% block page_checkout_address_login_toggle %}
        {# @var \Swag\PayPal\Checkout\ExpressCheckout\ExpressCheckoutButtonData expressSettings #}
        {% set expressSettings = page.extensions[constant('Swag\\PayPal\\Checkout\\ExpressCheckout\\ExpressCheckoutSubscriber::PAYPAL_EXPRESS_CHECKOUT_BUTTON_DATA_EXTENSION_ID')] %}
        {% set expressEnabled = expressSettings.loginEnabled %}

        {# @var \Swag\PayPal\Installment\Banner\BannerData installmentBanner #}
        {% set installmentBanner = page.extensions[constant('Swag\\PayPal\\Installment\\Banner\\InstallmentBannerSubscriber::PAYPAL_INSTALLMENT_BANNER_DATA_EXTENSION_ID')] %}
        {% set installmentBannerEnabled = installmentBanner is not null %}

        <div class="register-card" data-showroom-collapse="true">
            <div class="js-collapse-column">
                <div class="card-title global-collapse-headline js-collapse-column-trigger"
                     id="loginCollapse"
                     data-bs-target="#loginCollapse"
                     aria-expanded="true"
                     aria-controls="loginCollapse"
                >
                    {{ "showroom.checkout.addressLoginToggle"|trans|sw_sanitize }}
                    <div class="global-collapse-column-toggle">
                        <span class="global-collapse-plus-icon">
                            {% sw_icon 'plus' style { 'size': 'md', 'color':'primary' } %}
                        </span>
                        <span class="global-collapse-minus-icon">
                            {% sw_icon 'minus' style { 'size': 'md', 'color':'primary' } %}
                        </span>
                    </div>
                </div>

                {% block page_checkout_address_login %}
                    <div class="global-collapse-content collapse js-column-content" id="loginCollapse">
                        {% block page_checkout_address_login_card %}
                            {% sw_include '@Storefront/storefront/component/address/login.html.twig' %}
                        {% endblock %}
                    </div>
                {% endblock %}
            </div>
        </div>

        {% if expressEnabled or installmentBannerEnabled %}
            <div class="swag-paypal-card">
                {% if expressEnabled %}
                    {% sw_include'@SwagPayPal/storefront/component/ecs-spb-checkout/ecs-button.html.twig' ignore missing with {button_class: 'col-sm-5 col-12 pl-0 py-1'} %}
                {% endif %}

                {% if installmentBannerEnabled %}
                    <div class="col-sm-7 col-12 p-0"
                         data-swag-paypal-installment-banner="true"
                         data-swag-pay-pal-installment-banner-options="{{ installmentBanner|json_encode }}">
                    </div>
                {% endif %}
            </div>
        {% endif %}
    {% endblock %}

    {% if block('page_checkout_address_login_swag_amazon_pay_card') is defined %}
        {% block page_checkout_address_login_swag_amazon_pay_card %}
            {% set amazonPayButton = page.extensions.SwagAmazonPayButton %}
            {% if amazonPayButton and not amazonPayButton.hideButton %}
                <div class="card swag-amazon-pay-card">
                    <div class="card-body">
                        {% block page_checkout_address_login_swag_amazon_pay_card_body %}
                            <div class="row align-items-center">
                                {% block component_account_login_swag_amazon_pay_description %}
                                    <div class="swag-amazon-pay-card__description col-12 col-md-8">
                                        <div
                                            class="card-title">{{ "SwagAmazonPay.register.headline"|trans|striptags }}</div>
                                        <p class="card-text sm:mb-1">{{ "SwagAmazonPay.register.text"|trans|striptags }}</p>
                                    </div>
                                {% endblock %}

                                {% block component_account_login_swag_amazon_pay_button %}
                                    <div class="col-12 col-md-4">
                                        {{ parent() }}
                                    </div>
                                {% endblock %}
                            </div>
                        {% endblock %}
                    </div>
                </div>
            {% endif %}
        {% endblock %}
    {% endif %}

    {% block page_checkout_address_register %}
        {{ parent() }}
    {% endblock %}
{% endblock %}
