{# SwagShowRoomTheme Copyright (C) 2025 shopware AG #}

{% sw_extends '@Storefront/storefront/component/address/address-editor-modal-list.html.twig' %}

{# @deprecated tag:v6.7.0 remove this block when default storefront update data-parent to data-bs-parent #}
{% block component_address_address_editor_modal_list %}
    <div id="{{ typePrefix }}address-list"
         class="collapse {% if not address %} show{% endif %}"
         data-bs-parent="#{{ typePrefix }}addressEditorAccordion">
        {% block component_address_address_editor_modal_list_wrapper %}
            {{ parent() }}
        {% endblock %}
    </div>
{% endblock %}

{% block component_address_address_editor_modal_list_address %}
    <div class="card mb-4">
        {% block component_address_address_editor_modal_list_address_body %}
            <div class="card-body">
                <div class="d-flex flex-column flex-md-row gap-3">
                    {{ block('component_address_address_editor_modal_list_address_include') }}

                    {{ block('component_address_address_editor_modal_list_address_actions') }}
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}

{# @deprecated tag:v6.7.0 - Block will be removed. Use `component_address_address_editor_modal_list_address_body_action_billing_form_button` instead. #}
{% block component_address_address_editor_modal_list_address_action_billing_form_button_text %}
    {{ "account.selectAddress"|trans|sw_sanitize }}
{% endblock %}

{% block component_address_address_editor_modal_list_address_action_shipping_form_text %}
    {{ "account.selectAddress"|trans|sw_sanitize }}
{% endblock %}
