{% sw_extends '@Storefront/storefront/page/product-detail/buy-widget.html.twig' %}

{% block page_product_detail_buy_inner %}
    <div class="product-detail-buy js-magnifier-zoom-image-container">
        {% block page_product_detail_ordernumber_container %}
            {{ parent() }}
        {% endblock %}

        {% block page_product_detail_reviews %}
            {% if page.reviews|length > 0 and shopware.config.detail.showReviews %}

                <div class="product-detail-reviews">
                    {% sw_include '@Storefront/storefront/component/review/rating.html.twig' with {
                        points: page.product.ratingAverage
                    } %}
                    <span class="product-detail-reviews-link">
                        {{ page.totalReviews }}
                        {{ "detail.reviewLinkText"|trans({'%count%': page.totalReviews}) }}
                    </span>
                </div>
            {% endif %}
        {% endblock %}

        {% block page_product_detail_rich_snippets %}
            {{ parent() }}
        {% endblock %}

        {% block page_product_detail_not_available %}
            {{ parent() }}
        {% endblock %}

        {% block page_product_detail_buy_container %}
            <div itemprop="offers"
                 itemscope
                 itemtype="{% if page.product.calculatedPrices|length > 1 %}http://schema.org/AggregateOffer{% else %}http://schema.org/Offer{% endif %}">

                {% block page_product_detail_data %}
                    {% block page_product_detail_data_rich_snippet_url %}
                        {{ parent() }}
                    {% endblock %}

                    {% block page_product_detail_data_rich_snippet_price_range %}
                        {{ parent() }}
                    {% endblock %}

                    {% block page_product_detail_data_rich_snippet_price_currency %}
                        {{ parent() }}
                    {% endblock %}

                    {% set remoteClickOptions = {
                        selector: "#review-tab",
                        scrollToElement: true
                    } %}

                    {% block page_product_detail_delivery_informations %}
                        {{ parent() }}
                    {% endblock %}
                {% endblock %}

                <div class="product-detail-wrapper pt-4">
                    {% block page_product_detail_configurator_include %}
                        <div class="swag-cms-extensions-quickview-detail-configurator">
                            {% if page.product.parentId and page.configuratorSettings|length > 0 %}
                                <div class="product-detail-configurator-container mb-md-4 mb-3">
                                    {% sw_include '@SwagCmsExtensions/storefront/component/quickview/configurator.html.twig' %}
                                </div>
                            {% endif %}
                        </div>
                    {% endblock %}

                    {% block page_product_detail_buy_form %}
                        {% if page.product.active %}
                            {% sw_include '@SwagCmsExtensions/storefront/component/quickview/buy-widget-form.html.twig' %}
                        {% endif %}
                    {% endblock %}
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}
