{% sw_extends '@Storefront/storefront/component/quickview/headline.html.twig' %}

{% block swag_cms_extensions_component_quickview_header_product %}
    <div class="col-7">
        <h3 class="swag-cms-extensions-quickview-header-headline" itemprop="name">
            {{ page.product.translated.name }}
        </h3>
    </div>
{% endblock %}

{% block swag_cms_extensions_component_quickview_header_manufacturer %}
    <div class="swag-cms-extensions-quickview-header-manufacturer col-5 d-flex align-items-center">
        <div class="swag-cms-extensions-quickview-manufacturer-logo">
            <a href="{{ page.product.manufacturer.link }}"
               class="product-detail-manufacturer-link"
               title="{{ page.product.manufacturer.translated.name }}">
                {% if page.product.manufacturer.media %}
                    <img src="{{ page.product.manufacturer.media|sw_encode_media_url }}"
                         class="product-detail-manufacturer-logo img-fluid float-right"
                         alt="{{ page.product.manufacturer.translated.name }}"/>
                {% else %}
                    {{ page.product.manufacturer.translated.name }}
                {% endif %}
            </a>
        </div>
        <div class="swag-cms-extensions-quickview-manufacturer-name">
            <a href="{{ page.product.manufacturer.link }}"
               class="product-detail-manufacturer-link"
               title="{{ page.product.manufacturer.translated.name }}">
                {{ page.product.manufacturer.translated.name }}
            </a>
        </div>
    </div>
{% endblock %}
