{% sw_extends '@Storefront/storefront/page/checkout/cart/index.html.twig' %}

{% block page_checkout_cart_header %}
    <div class="cart-main-header-wrapper">
        {{ parent() }}

        {% block page_checkout_cart_total %}
            <div class="cart-main-total-items">
                {{ "checkout.itemCounter"|trans({'%count%': page.cart.lineItems|length})|sw_sanitize }}
            </div>
        {% endblock %}
    </div>
{% endblock %}

{% block page_checkout_cart_add_product_and_shipping %}
    {% if b2bSuite %}
        {% sw_include '@SwagB2bPlatform/storefront/_custom/cart/b2b-cart-orderlist.html.twig' ignore missing %}
    {% endif %}
{% endblock %}

{% block page_checkout_cart_add_promotion_submit %}
    {% if feature('V6_5_0_0') %}
        <button class="btn btn-primary"
                type="submit"
                id="addPromotion">
            {% sw_icon 'arrow-head-right' style { 'pack': 'showroom' } %}
        </button>
    {% else %}
        <div class="input-group-append">
            <button class="btn btn-primary"
                    type="submit"
                    id="addPromotion">
                {% sw_icon 'arrow-head-right' style { 'pack': 'showroom' } %}
            </button>
        </div>
    {% endif %}
{% endblock %}

{% block page_checkout_cart_shipping_costs_trigger_icon %}{% endblock %}

{% block page_checkout_aside_actions %}
    {{ parent() }}

    {% block page_checkout_cart_shipping_costs %}
        <div class="mt-3 cart-shipping-costs-container">
            <form name="precalc"
                  method="post"
                  action="{{ path('frontend.checkout.configure') }}"
                  data-form-auto-submit="true">

                {% block page_checkout_cart_shipping_costs_csrf %}
                    {{ parent() }}
                {% endblock %}

                {% block page_checkout_cart_shipping_costs_trigger %}
                    <a class="btn btn-lg {% if not feature('V6_5_0_0') %} btn-block {% endif %}btn-outline-primary cart-shipping-costs-btn"
                    {{ dataBsToggleAttr }}="collapse"
                    href="#collapseShippingCost"
                    role="button"
                    aria-expanded="false"
                    aria-controls="collapseExample">
                    {{ "checkout.shippingCosts"|trans|sw_sanitize }}
                    </a>
                {% endblock %}

                {% block page_checkout_cart_shipping_costs_form_group %}
                    {{ parent() }}
                {% endblock %}
            </form>
        </div>
    {% endblock %}
{% endblock %}
