{% sw_extends '@Storefront/storefront/component/listing/filter/filter-rating.html.twig' %}

{% block component_filter_rating_toggle %}
    <button class="filter-panel-item-toggle btn {% if sidebar and not feature('V6_5_0_0') %}btn-block{% endif %}"
        aria-expanded="false"
        {% if sidebar %}
            {{ dataBsToggleAttr }}="collapse"
            {{ dataBsTargetAttr }}="#{{ filterItemId }}"
        {% else %}
            {{ dataBsToggleAttr }}="dropdown"
            data-boundary="viewport"
            {{ dataBsOffsetAttr }}="0"
            aria-haspopup="true"
        {% endif %}>

        <span class="filter-rating-name">
            {% block component_filter_rating_display_name %}
                {{ parent() }}
            {% endblock %}

            {% block component_filter_rating_count %}
                {{ parent() }}
            {% endblock %}
        </span>

        {% block component_filter_multi_select_toggle_icon %}
            <div class="global-collapse-column-toggle">
                <span class="global-collapse-plus-icon">{% sw_icon 'plus' style { 'size': 'md', 'color':'primary' } %}</span>
                <span class="global-collapse-minus-icon">{% sw_icon 'minus' style { 'size': 'md', 'color':'primary' } %}</span>
            </div>
        {% endblock %}
    </button>
{% endblock %}
