{# SwagShowRoomTheme Copyright (C) 2025 shopware AG #}

{% sw_extends '@Storefront/storefront/component/listing/filter/filter-property-select.html.twig' %}

{% block component_filter_multi_select_list_item %}
    {% if displayType == 'color' or displayType == 'media' %}
        {% set color = element.colorHexCode %}
        {% set media = element.media.url %}
        {% set name = element.translated.name %}
        {% set id = element.id %}

        <li class="filter-multi-select-list-item filter-property-select-list-item filter-property-select-has-preview">
            {% block component_filter_property_select_preview %}
                <span class="filter-property-select-preview{% if displayType == 'color' and color %} is-color{% endif %} {% if displayType == 'media' and media %} is-media{% endif %}"
                      title="{{ name }}"
                      {% if displayType == 'color' and color %}
                      style="background: {{ color }}"
                      {% endif %}
                      {% if displayType == 'media' and media %}
                      style="background-image: url('{{ media }}')"
                     {% endif %}>

                    {% block component_filter_property_select_checkox_input %}
                        {{ parent() }}
                    {% endblock %}

                    {% block component_filter_property_select_preview_checkmark %}
                        {{ parent() }}
                    {% endblock %}
            </span>
            {% endblock %}

            {% if not hideTitle %}
                {% block component_filter_property_select_preview_list_item_label_element %}
                    {{ parent() }}
                {% endblock %}
            {% endif %}
        </li>
    {% else %}
        <li class="filter-multi-select-list-item filter-property-select-list-item">
            {% block component_filter_property_select_preview_list_item %}
                {{ parent() }}
            {% endblock %}
        </li>
    {% endif %}
{% endblock %}

