{% sw_extends '@Storefront/storefront/page/checkout/checkout-item.html.twig' %}

{% block page_checkout_item_info %}
    <div class="col-12 col-md cart-item-info">
        {% block page_checkout_item_info_inner %}
            <div class="row cart-item-row">
                {% block page_checkout_item_info_image %}
                    <div class="col-4 cart-item-info-img">
                        {% block page_checkout_item_info_image_container %}
                            {{ parent() }}
                        {% endblock %}
                    </div>
                {% endblock %}

                {% block page_checkout_item_info_details %}
                    <div class="col-8 cart-item-details">
                        {% block page_checkout_item_info_details_inner %}
                            <div class="cart-item-details-container">
                                {% block page_checkout_item_info_label %}
                                    {% if lineItem.type == 'product' %}
                                        <a href="{{ seoUrl('frontend.detail.page', {'productId': lineItem.referencedId}) }}"
                                           class="cart-item-label"
                                           title="{{ lineItem.label }}"
                                            {% if controllerAction is same as('confirmPage') %}
                                                data-toggle="modal"
                                                data-modal-class="quickview-modal"
                                                data-url="{{ path('widgets.quickview.minimal',{ 'productId': lineItem.referencedId }) }}"
                                            {% endif %}
                                        >
                                            {{ lineItem.label|u.truncate(60, '...') }}
                                        </a>
                                    {% else %}
                                        <div class="cart-item-label">
                                            {{ lineItem.label|u.truncate(60, '...') }}
                                        </div>
                                    {% endif %}
                                {% endblock %}

                                {% block page_checkout_item_info_ordernumber %}
                                    {{ parent() }}
                                {% endblock %}

                                {% if lineItem.type == 'product' and lineItem.price.referencePrice is not null %}
                                    {% set price = lineItem.price %}
                                    {{ "checkout.priceUnitName"|trans|sw_sanitize }}
                                    <span class="price-unit-reference">
                                        {{ price.referencePrice.purchaseUnit }} {{ price.referencePrice.unitName }}
                                        ({{ price.referencePrice.price|currency }}{{ "general.star"|trans|sw_sanitize }} / {{ price.referencePrice.referenceUnit }} {{ price.referencePrice.unitName }})
                                    </span>
                                {% endif %}

                                {% block page_checkout_item_delivery_date %}
                                    {{ parent() }}
                                {% endblock %}
                            </div>
                        {% endblock %}
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}

{% block page_checkout_item_quantity %}
    <div class="col-6 col-lg-auto cart-item-quantity">
        <div class="row cart-item-quantity-row">

            {% block page_checkout_item_quantity_label %}
                <div class="col-12 cart-item-quantity-label">
                    {{ "checkout.cartHeaderQuantity"|trans|sw_sanitize }}
                </div>
            {% endblock %}

            {% block page_checkout_item_quantity_select %}
                <div class="col-12">
                    {% block page_checkout_item_quantity_form %}
                        {{ parent() }}
                    {% endblock %}
                </div>
            {% endblock %}
        </div>
    </div>

{% endblock %}

{% block page_checkout_item_remove %}
    <div class="col-6 col-lg-1 cart-item-remove">
        {% block page_checkout_item_remove_form %}
            {{ parent() }}
        {% endblock %}
    </div>
{% endblock %}

{% block page_checkout_item_unit_price %}
    <div class="col-12 col-lg-2 cart-item-unit-price">
        {% block page_checkout_item_unit_price_wrapper %}
            {{ parent() }}
        {% endblock %}
    </div>
{% endblock %}

{% block page_checkout_item_total_price %}
    <div class="col-12 col-lg-2 cart-item-total-price">
        {% block page_checkout_item_total_price_wrapper %}
            {{ parent() }}
        {% endblock %}
    </div>
{% endblock %}

{% block page_checkout_item_remove_submit %}
    <button type="submit"
            title="{{ "checkout.removeLineItem"|trans|striptags }}"
            data-product-id="{{ lineItem.id }}"
            class="btn btn-sm cart-item-remove-button">
        {% sw_icon 'x' style { 'size': 'sm' } %}
    </button>
{% endblock %}
