{% sw_extends '@Storefront/storefront/layout/header/search-suggest.html.twig' %}

{% block layout_search_suggest_result_total_link %}
    <div class="col">
        <div class="search-suggest-total-count">
            {{ "header.searchResults"|trans({
                '%count%': page.searchResult.total,
            })|sw_sanitize }}
        </div>
    </div>
{% endblock %}
{% block layout_search_suggest_result_total_count %}
    <a href="{{ path('frontend.search.page') }}?search={{ page.searchTerm }}"
       title="{{ "header.searchAllResults"|trans|striptags }}"
       class="search-suggest-total-link btn btn-outline-primary">
        {{ "header.searchAllResults"|trans|sw_sanitize }}
    </a>
{% endblock %}
