{# SwagShowRoomTheme Copyright (C) 2025 shopware AG #}

{% sw_extends {
    template: '@Storefront/storefront/page/checkout/confirm/confirm-address.html.twig',
    scopes: ['default', 'subscription']
    }
%}

{% block  page_checkout_confirm_address_billing_actions_link %}
    <a href="{{ path('frontend.account.address.edit.page', {'addressId': billingAddress.id}) }}"
       title="{{ "account.overviewChangeAddress"|trans|striptags }}"
       data-address-editor="true"
       data-address-editor-options='{{ addressEditorOptions|json_encode }}'
       class="confirm-address-link"
    >
        {{ "showroom.account.overviewChangeAddress"|trans|sw_sanitize }}
    </a>
{% endblock %}

{% block  page_checkout_confirm_address_shipping_actions_link %}
     <a href="{{ path('frontend.account.address.edit.page', {'addressId': shippingAddress.id}) }}"
        title="{{ "account.overviewChangeAddress"|trans|striptags }}"
        data-address-editor="true"
        data-address-editor-options='{{ addressEditorOptions|json_encode }}'
        class="confirm-address-link"
     >
         {{ "showroom.account.overviewChangeAddress"|trans|sw_sanitize }}
     </a>
{% endblock %}
