{# SwagShowRoomTheme Copyright (C) 2025 shopware AG #}

{% sw_extends '@SwagCustomizedProducts/storefront/component/line-item/type/custom-product.html.twig' %}

{% block swag_customized_products_line_item %}
    <div class="{{ lineItemClasses }}">
        <div class="row line-item-row">
            <div class="swag-customized-products__line-item-info line-item-info">
                <div class="row line-item-row">
                    <div class="col-auto swag-customized-products__line-item-image">
                        {% block swag_customized_products_line_item_image %}
                            <div class="swag-customized-products__line-item-image-container line-item-img-container">
                                {% sw_include '@Storefront/storefront/component/line-item/element/image.html.twig' %}
                            </div>
                        {% endblock %}
                    </div>
                    <div class="swag-customized-products__line-item-details line-item-details d-flex flex-column align-items-start">
                        {{ block('swag_customized_products_line_item_label') }}

                        {{ block('swag_customized_products_line_item_details') }}
                    </div>
                </div>
            </div>
            <div class="swag-customized-products__line-item-quantity line-item-quantity">
                {% block swag_customized_products_line_item_quantity %}
                    {% sw_include '@Storefront/storefront/component/line-item/element/quantity.html.twig' %}
                {% endblock %}
            </div>

            <div class="swag-customized-products__line-item-unit-price line-item-unit-price">
                {{ block('swag_customized_products_line_item_unit_price') }}
            </div>
            <div class="swag-customized-products__line-item-total-price line-item-total-price">
                {{ block('swag_customized_products_line_item_total_price') }}
            </div>
            <div class="swag-customized-products__line-item-remove line-item-remove">
                {{ block('swag_customized_products_line_item_remove') }}
            </div>
            <div class="swag-customized-products__line-item-collapse line-item-collapse">
                <div class="row line-item-row">
                    <div class="swag-customized-products__line-item-collapse-options col-9">
                        {{ block('swag_customized_products_line_item_collapse_options') }}
                    </div>
                    <div class="swag-customized-products__line-item-collapse-unit-price d-none">
                        {{ block('swag_customized_products_line_item_collapes_unit_price') }}
                    </div>
                    <div class="swag-customized-products__line-item-collapse-total-price col-3">
                        {{ block('swag_customized_products_line_item_collapse_total_price') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
