{# SwagShowRoomTheme Copyright (C) 2025 shopware AG #}

{% sw_extends '@Storefront/storefront/utilities/offcanvas.html.twig' %}

{% block utilities_offcanvas_content %}
    <div class="account-menu">
        {% block layout_header_actions_account_widget_dropdown_header %}
            {% if not context.customer.guest %}
                {% if b2bSuite %}
                    <div class="dropdown-header account-menu-header">
                        {% sw_icon 'ic-profile' style {'pack' : 'cinema'} %}
                        <a class="b2b-myaccount" href="{{ path('frontend.b2b.b2baccount.index') }}">
                            {{ "account.myAccount"|trans|sw_sanitize }}
                        </a>
                    </div>
                {% else %}
                    <div class="dropdown-header account-menu-header">
                        {{ "account.myAccount"|trans|sw_sanitize }}
                    </div>
                {% endif %}
            {% endif %}
        {% endblock %}

        {% block layout_header_actions_account_widget_dropdown_login %}
            {% if not context.customer %}
                <div class="account-menu-login">
                    <a href="{{ path('frontend.account.login.page') }}"
                       title="{{ "account.loginSubmit"|trans|striptags }}"
                       class="btn btn-primary account-menu-login-button">
                        {{ "account.loginSubmit"|trans|sw_sanitize }}
                    </a>
                </div>
            {% endif %}
        {% endblock %}

        {% block layout_header_actions_account_widget_dropdown_links %}
            <div class="account-menu-links">
                {% sw_include '@Storefront/storefront/page/account/sidebar.html.twig' with {'headerWidget': true} %}
            </div>
        {% endblock %}
    </div>
{% endblock %}
