{% sw_extends {
    template: '@Storefront/storefront/layout/header/header-minimal.html.twig',
    scopes: ['default', 'subscription']
    }
%}

{% block layout_header_minimal_row %}
    <div class="row header-row header-minimal-row">
        {% block layout_header_minimal_contact %}
            {{ parent() }}
        {% endblock %}

        {% block layout_header_minimal_logo %}
            <div class="col-auto header-minimal-logo">
                {% sw_include '@Storefront/storefront/layout/header/logo.html.twig' %}
            </div>
        {% endblock %}

        {% block layout_header_minimal_button %}
            <div class="col-auto col-md-4 header-minimal-back-to-shop">
                <a href="{{ path('frontend.home.page') }}"
                   class="header-minimal-back-to-shop-button"
                   title="{{ "checkout.finishButtonBackToShop"|trans|striptags }}">
                    {% sw_icon 'arrow-right' style {
                        'color': 'primary',
                        'pack':'solid'
                    } %}
                    {{ "showroom.checkout.finishButtonBackToShop"|trans|striptags }}
                </a>
            </div>
        {% endblock %}

        {% if config('core.cart.wishlistEnabled') %}
            {{ block('layout_header_minimal_wishlist') }}
        {% endif %}
    </div>
{% endblock %}
