{# @deprecated tag:v6.5.0 - Template `offcanvas-item.html.twig` is deprecated. Use `storefront/component/line-item/line-item.html.twig` instead. #}

{% sw_extends '@Storefront/storefront/component/checkout/offcanvas-item.html.twig' %}

{% block component_offcanvas_cart_item_container %}
    {% set isNested = lineItem.children.count > 0 %}

    {% if isCustomizedProduct %}
        {% set configurationItems = [] %}

        {% for child in lineItem.children %}
            {% if child.type == 'product' %}
                {% set label = child.label %}
                {% set referencedId = child.referencedId %}

                {% if child.cover.url %}
                    {% set cover = child.cover %}
                {% endif %}
            {% else %}
                {% set configurationItems = configurationItems|merge([child]) %}
            {% endif %}
        {% endfor %}
    {% endif %}

    {% if not isChildOfCustomizedProduct %}
        <div
            class="cart-item cart-item-{{ type }}{% if isDiscount %} is-discount{% endif %}{% if isNested %} is-nested{% endif %}{% if isChild %} is-child{% endif %} js-cart-item">
            <div class="row cart-item-row">
                {% block component_offcanvas_product_image %}
                    <div class="col-3 col-lg-2">
                        {% block component_offcanvas_product_image_inner %}
                            {{ parent() }}
                        {% endblock %}
                    </div>
                {% endblock %}

                {% block component_offcanvas_product_details %}
                    <div class="col-6 col-lg-5 cart-item-details">
                        {% block component_offcanvas_product_details_inner %}
                            <div class="cart-item-details-container">
                                {% block component_offcanvas_product_label %}
                                    {{ parent() }}
                                {% endblock %}

                                {% block page_checkout_item_info_ordernumber %}
                                    {% if lineItem.payload.productNumber %}
                                        <div class="cart-item-ordernumber d-none d-lg-block">
                                            {{ "checkout.cartItemInfoId"|trans|sw_sanitize }} {{ lineItem.payload.productNumber }}
                                        </div>
                                    {% endif %}
                                {% endblock %}

                                {% block cart_item_variant_characteristics %}
                                    {{ parent() }}
                                {% endblock %}

                                {% block component_offcanvas_product_details_features %}
                                    {{ parent() }}
                                {% endblock %}
                            </div>
                        {% endblock %}
                    </div>
                {% endblock %}

                {% block component_offcanvas_product_total_price %}
                    <div class="col-3 col-lg-2 cart-price">
                        {{ parent() }}
                    </div>
                {% endblock %}

                {% block component_offcanvas_product_quantity_price %}
                    <div class="col-6 col-lg-2 cart-quantity-price">
                        {% block component_offcanvas_product_quantity %}
                            {{ parent() }}
                        {% endblock %}
                    </div>
                {% endblock %}

                {% block component_offcanvas_product_remove %}
                    {{ parent() }}
                {% endblock %}

                {% block component_offcanvas_children %}
                    {% if isNested %}
                        {# @deprecated tag:v6.5.0 - block will be removed, use `component_offcanvas_item_children` in `@Storefront/storefront/component/checkout/offcanvas-item-children.html.twig` instead #}
                        {% block component_offcanvas_cart_item_children %}
                            {% sw_include childrenTemplate %}
                        {% endblock %}
                    {% endif %}
                {% endblock %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block component_offcanvas_product_remove_submit %}
    <button type="submit"
            title="{{ "checkout.removeLineItem"|trans|striptags }}"
            data-product-id="{{ lineItem.id }}"
            class="btn cart-item-remove-button">
        {% sw_icon 'x' style { 'size': 'sm', 'pack': 'solid' } %}
    </button>
{% endblock %}
